.userlists{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    height: 450px;
    box-shadow: 0px -35px 61px rgba(0, 0, 0, 0.1);

}


.userlists_header h2{
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 700;
    color: var(--black-color);
}

.userlists_searchBoxes{
    display: flex;
    align-items: center;
    background-color: var(--searchbox_bg);
    padding: 8px 0;
    justify-content: center;
    border-radius: 50px;
    margin-top: 20px;
    width: 80%;
}

.userlists_searchBoxes svg{
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.userlists_searchBoxes input {
    border: none;
    outline: none;
    background-color: var(--searchbox_bg);
    width: 80%;
    padding: 8px 0;
    font-family: var(--primary-font);
    font-size: 14px;
}

.userlists_body{
    margin-top: 30px;
    height: 280px;
    overflow-y: auto;
}

.userlists_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;
    margin-bottom: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

.userlists_img{
    width: 70px;
    height: 70px;
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--primary-color);
}

.userlists_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userlists_titles {
    width: 270px;
}

.userlists_titles h4{
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 700;
    color: var(--black-color);
    margin-bottom: 5px;
}

.userlists_titles span{
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 500;
    color: var(--black-color);
}
