.chatting-box{
    width: 100%;
    height: 95vh;
    background-color: var(--white);
    box-shadow: 0px -35px 61px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    box-sizing: border-box;
}

.chatbox-top{
    padding: 20px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d5d5d5;
}


.active-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.wrapper-image-top{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.wrapper-image-top:after {
    content: '';
    position: absolute;
    bottom: 5px;
    right: 9px;
    width: 15px;
    height: 15px;
    background-color: #20a920;
    border-radius: 50%;
}


.active-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active-name{
    margin-left: 25px;
}

.active-name h3{
    font-family: var(--primary-font);
    font-size: 25px;
    color: var(--black-color);
    margin-bottom: 5px;
}
.active-name span{
    font-family: var(--primary-font);
    font-size: 15px;
    color: var(--black-color);
    font-weight: 600;
}
.message-box{
    height: 660px;
    width: 100%;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
}

.right-chatting{
    width: 500px;
    margin-left: auto;
    margin-bottom: 40px;
}

.right-msg{
    width: 100%;
    background-color: var(--right-msg-clr);
    border-radius: 18px;
    padding: 20px 15px;
    box-sizing: border-box;
    position: relative;
}

.right-msg p{
    color: var(--white);
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight: 400;
    line-height: 28px;
}

.right-msg:after {
    content: '';
    position: absolute;
    bottom: -17px;
    right: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 29px 9px;
    border-color: transparent transparent var(--right-msg-clr) transparent;
    transform: rotate(142deg);
}

.right-chat-date{
    text-align: right;
    margin-top: 15px;
    padding-right: 20px;
}

.right-chat-date span{
    font-size: 14px;
    font-family: var(--primary-font);
    font-weight: 400;
}
.right-img-msg{
    width: 80%;
    margin-left: auto;
}
.right-img-msg img{
    width: 100%;
}
.right-audio-msg{
    text-align: right;
}



.left-chatting{
    width: 500px;
    margin-right: auto;
    margin-bottom: 40px;
}

.left-msg{
    width: 100%;
    background-color: var(--left-msg-clr);
    border-radius: 18px;
    padding: 20px 15px;
    box-sizing: border-box;
    position: relative;
}

.left-msg p{
    color: var(--black-color);
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight: 400;
    line-height: 28px;
}

.left-msg:after {
    content: '';
    position: absolute;
    bottom: -17px;
    left: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 20px 29px 9px;
    border-color: transparent transparent var(--left-msg-clr) transparent;
    transform: rotate(218deg);
}

.left-chat-date{
    text-align: left;
    margin-top: 15px;
    padding-left: 20px;
}

.left-chat-date span{
    font-size: 14px;
    font-family: var(--primary-font);
    font-weight: 400;
}

.left-img-msg{
    width: 80%;
    margin-right: auto;
}
.left-img-msg img{
    width: 100%;
}
.left-audio-msg{
    text-align: left;
}

.msg-input-box{
    width: 60%;
}
.inner-msg-input{
    width: 100%;
    background-color: var(--searchbox_bg);
    padding: 15px 20px;
    border-radius: 50px;
}

.inner-msg-input input{
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-family: var(--primary-font);
}


.bottom-msg-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    box-sizing: border-box;
}

.emoji{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.emoji svg{
    width: 28px;
    height: 28px;
}
.camera{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.camera svg{
    width: 28px;
    height: 28px;
}

.msg-send-btn{
    width: 150px;
}

.msg-send-btn button{
    width: 100% !important;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-radius: 50px;
}