.grouplist{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    height: 450px;
    box-shadow: 0px -35px 61px rgba(0, 0, 0, 0.1);

}


.grouplist_header h2{
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 700;
    color: var(--black-color);
}

.group-serches-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.grouplist_searchBoxes{
    display: flex;
    align-items: center;
    background-color: var(--searchbox_bg);
    padding: 8px 0;
    justify-content: center;
    border-radius: 50px;
    width: 70%;
}

.grouplist_searchBoxes svg{
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.grouplist_searchBoxes input {
    border: none;
    outline: none;
    background-color: var(--searchbox_bg);
    width: 80%;
    padding: 8px 0;
    font-family: var(--primary-font);
    font-size: 14px;
}

.grouplist_body{
    margin-top: 30px;
    height: 280px;
    overflow-y: auto;
}

.grouplist_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 15px;
    margin-bottom: 18px;
    padding-left: 20px;
    padding-right: 20px;
}

.groupList_img{
    width: 70px;
    height: 70px;
    background-color: red;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--primary-color);
}

.groupList_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.groupList_titles {
    width: 300px;
}

.groupList_titles h4{
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 700;
    color: var(--black-color);
    margin-bottom: 5px;
}

.groupList_titles span{
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 500;
    color: var(--black-color);
}

.group_modals{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px !important;
    background-color: var(--bg-color);
    border: none;
    box-shadow: 24;
    padding: 20px;
    outline: none !important;
}

.group_modals h2{
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 700;
    color: var(--black-color);
}

.group-creattion-form{
    margin-top: 30px;
}